* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  height: 100vh;
  background: #d0c9c4;
  margin: 40px 15px 0;
}

section {
  max-width: 350px;
  background: #fff;
  border-radius: 8px;
  margin: 0 auto;
}

.container__img {
  .container__img--1 {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
}

.container__data {
  margin: 20px;
}

.container__data--text {
  & span {
    letter-spacing: 5px;
    color: #656469;
    font-size: 13px;
  }
  h1 {
    font-family: "Fraunces", sans-serif;
    font-size: 1.8rem;
    margin: 10px 0;
    color: #1d232a;
  }
  p {
    color: #6b6a6f;
    font-size: 14px;
  }
}

.container__data--prices {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 15px 0;
  & strong {
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #3d8168;
  }
  span {
    text-decoration: line-through;
    color: #99989e;
  }
}

.container__data--btn {
  display: flex;
  justify-content: center;
  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #3d8168;
    border-radius: 8px;
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 15px;
    &:hover {
      background-color: #306653;
    }
  }
}

@media (width >= 1024px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .container {
    display: flex;
    max-width: 700px;
    height: 470px;
  }
  .container__img {
    width: 50%;
    .container__img--1 {
      border-radius: 8px 0 0 8px;
    }
  }
  .container__data {
    width: 50%;
    margin: 35px;
  }
  .container__data--text {
    h1 {
      font-size: 2.7rem;
    }
    p {
      font-size: 17px;
    }
  }
  .container__data--prices {
    margin: 20px 0;
  }
}
